.popular-game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(41 43 60 / .92);
    z-index: 2;
    border-radius: 4px 20px 4px 20px;
    transition: .3s linear;
    opacity: 0;
}